<div class="container">
  <div class="col-sm-10 col-sm-offset-1 well">
  <!-- create new group record -->
    <%= form_for @group do |g| %>
      <div>
        <h3>Add a new Group:</h3>
        <%= g.text_field :name, class:"form-control", placeholder: "Group Name" %>
      </div>
      <div>
        <h3>Description of Group:</h3>
        <%= g.text_field :description, class:"form-control", placeholder: "General focus of the group descussions" %>
      </div>

      <%= g.submit "Create Group", class:"btn btn-primary btn-lg pull-right" %>

    <% end %>
  </div>
</div>