/* line 1, /Users/emilyanzalone/dev/project2/app/assets/stylesheets/groups.scss */
#group-name {
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 30px;
}

/* line 6, /Users/emilyanzalone/dev/project2/app/assets/stylesheets/groups.scss */
#group-des {
  margin: 0px;
  margin-left: 50px;
}

/* line 10, /Users/emilyanzalone/dev/project2/app/assets/stylesheets/groups.scss */
.no-of-members {
  margin: 0px;
  margin-left: 50px;
}

/* line 14, /Users/emilyanzalone/dev/project2/app/assets/stylesheets/groups.scss */
.edit_group_btn {
  margin-left: 50px;
}
