/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "material";

// DEFAULT BUTTON
.btn {
  background-color: #5882FA !important;
  color: #D8D8D8 !important;
}
// NAVBAR MAIN
.mdl-layout__drawer {
  padding-top: 20px;
  padding-left: 0px;
}
.mdl-layout__header {
  background-color: #08088A;
}
// #page-content {
//   padding-left: 30px;
// }
#pools_glyph {
  padding-left: 10px;
}
.logo {
  margin-left: auto ;
  margin-right: auto ;
}
.left-navigation {
  width:215px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.image-cropper {
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}




.user_img {
  max-height: 200px;
  margin-top: 5px;

}




