#group-name {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 30px;
}
#group-des {
	margin: 0px;
	margin-left: 50px;
}
.no-of-members {
	margin: 0px;
	margin-left: 50px;
}
.edit_group_btn {
	margin-left: 50px;
}
.user_img {
	max-height: 150px;
	
}