#group-name {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 30px;
}
#group-des {
	margin: 0px;
	margin-left: 50px;
}
.no-of-members {
	margin: 0px;
	margin-left: 50px;
}
.edit_group_btn {
	margin-left: 50px;
}
.user_img {
	max-height: 150px;	
}
.mem_card {
	// outline: blue solid;
	margin: 10px;
	box-shadow: 0px 0px 5px 3px rgba(158, 158, 158, 0.53);
	padding: 10px;
	border-radius: 2px;
	background-color: rgba(210, 210, 210, 0.43);
}
.mem_img {
	max-height: 75px;
}