
//new questionnaire
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #cef6c3;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #ffffff;
  }
}

.intro {
  height: 100vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}