.demo-card-wide.mdl-card {
  width: 96%;
  margin-top: 30px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: blue;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.avatar-parent {
	max-width: 150px;
	max-height: 150px;
}
.parent_city {
	margin-top: 0px;
}

.expand-button {
	margin: 10px;
	background-color: #5882FA!important;
}

.parent_name {
	margin-bottom: 0px;
	margin-top: 15px;
}
.avatar-child {
	max-width: 70px;
	max-height: 70px;
}
.user-card {
	padding-left: 30px;
}
h5 {
	margin: 0px;
}
.child-section {
	padding-top: 5px;
}
.user_data {
	text-align: center;
	margin-top: 20px;
}
.user_img {
	max-height: 200px;
	margin-top: 5px;
}
h4 {
	margin: 0px;
	padding: 0px;
}
.pcontent {
	clear: both;
}
.post_btns {
	margin: 0px;
	padding: 0px;
}
.post_title {
	color: black;
}
