<!-- blue avatar -->
<img class="avatar" src="http://i.imgur.com/6p1kInz.png">
<!-- green avatar -->
<img class="avatar" src="http://i.imgur.com/qlucnfY.png">
<!-- orange avatar -->
<img class="avatar" src="http://i.imgur.com/LXDoyGk.png">
<!-- pink avatar -->
<img class="avatar" src="http://i.imgur.com/fojd1vq.png">
<!-- purple avatar -->
<img class="avatar" src="http://i.imgur.com/W2RCbK8.png">
<!-- red avatar -->
<img class="avatar" src="http://i.imgur.com/NZxCMh2.png">
<!-- yellow avatar -->
<img class="avatar" src="http://i.imgur.com/CLYHzOJ.png">